# **1. Data Collection**

## Objectives
1. Setup the environment
2. Fetch and load the data
3. Inspect and save the data.

## Inputs
1. Kaggle API
2. Kaggle Dataset Path
3. Python packages

## Outputs
1. Environment setup confirmation
2. Download dataset
3. Loaded dataframes
4. Initial data inspection
5. Saved CSV files
6. Documentation

## Additional Comments
* Ensure that the Kaggle API key ('kaggle.json') is stored securely and properly configured.
* Handle any potential errors during the setup, data fetching, and data saving processes.
* Document any assumptions or observations made during the data inspection phase to inform further analysis.

---

# Install packages

In [ ]:
%pip install -r /workspace/heritage-housing-mvp/requirements.txt

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/heritage-housing-mvp/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/heritage-housing-mvp'

---

# Fetch data from Kaggle

Install Kaggle package to fetch data

In [ ]:
%pip install kaggle==1.5.12

Download your kaggle.json file from your kaggle account. And place it in the main directory.

After that run the cell below, so the token is recongnized in the session.

In [4]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

chmod: cannot access 'kaggle.json': No such file or directory

We are using the following Kaggle URL: https://www.kaggle.com/datasets/codeinstitute/housing-prices-data

Get the dataset path frok Kaggle url

* When you are viewing the dataset at Kaggle, check what is after https://kaggle.com/

Define the Kaggle dataset, and destination folder and download it.

In [8]:
KaggleDatasetPath = "codeinstitute/housing-prices-data"
DestinationFolder = "inputs/datasets/raw"

! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /workspace/heritage-housing-mvp/kaggle.json'
Downloading housing-prices-data.zip to inputs/datasets/raw
  0%|                                               | 0.00/49.6k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 49.6k/49.6k [00:00<00:00, 2.03MB/s]

Unzip the downloaded file, delete the zip file and delete the kaggle.json file.

In [9]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
    && rm {DestinationFolder}/*.zip \
    && rm kaggle.json

Archive:  inputs/datasets/raw/housing-prices-data.zip
  inflating: inputs/datasets/raw/house-metadata.txt
  inflating: inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv
  inflating: inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv

---

# Load and inspect the Kaggle data

In [10]:
import pandas as pd
df1 = pd.read_csv(f"/workspace/heritage-housing-mvp/inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv")
df.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,NaN,642,Unf,...,60.0,0.0,35,5,7,756,NaN,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,0.0,836,RFn,...,84.0,350.0,84,5,8,1145,NaN,2000,2000,250000

In [16]:
import pandas as pd
df2 = pd.read_csv(f"/workspace/heritage-housing-mvp/inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv")
df.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,NaN,642,Unf,...,60.0,0.0,35,5,7,756,NaN,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,0.0,836,RFn,...,84.0,350.0,84,5,8,1145,NaN,2000,2000,250000

Get a summary

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1stFlrSF       1460 non-null   int64
 1   2ndFlrSF       1374 non-null   float64
 2   BedroomAbvGr   1361 non-null   float64
 3   BsmtExposure   1460 non-null   object
 4   BsmtFinSF1     1460 non-null   int64
 5   BsmtFinType1   1346 non-null   object
 6   BsmtUnfSF      1460 non-null   int64
 7   EnclosedPorch  136 non-null    float64
 8   GarageArea     1460 non-null   int64
 9   GarageFinish   1298 non-null   object
 10  GarageYrBlt    1379 non-null   float64
 11  GrLivArea      1460 non-null   int64
 12  KitchenQual    1460 non-null   object
 13  LotArea        1460 non-null   int64
 14  LotFrontage    1201 non-null   float64
 15  MasVnrArea     1452 non-null   float64
 16  OpenPorchSF    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  OverallQual    1460 non-null   int64
 19  TotalBsmtSF    1460 non-null   int64
 20  WoodDeckSF     155 non-null    float64
 21  YearBuilt      1460 non-null   int64
 22  YearRemodAdd   1460 non-null   int64
 23  SalePrice      1460 non-null   int64
dtypes: float64(7), int64(13), object(4)
memory usage: 273.9+ KB

Dataset has 24 columns consisting of three different data types

Check for duplicates

In [13]:
df.head()
True in df.duplicated().unique()

False

Considering that the preliminary objective is to predict prices for 4 inherited houses, then the dataset might lack some features/columns to give actual accurate prediction on the subject.
* Logically considering then the dataset lack any features that represent the location of a house, which may influence the house sale price. For example there are important considerations which also affect house prices, like the nearest school or town centre.
* Secondly a column is missing with the time of sale. Since housing market is affected by the country's or global economical state then that is also a very important feature to have to avoid bias.

These two aspects are already giving a preliminary suggestion that regression model is not suitable for this particular task and that classification modeling seems to be more suitable and would give a more honest estimation to the subject case.

---

# Save the outputs

In [14]:
try:
    path = os.path.join(os.getcwd(), 'outputs/datasets/collection')
    os.makedirs(path)
except Exception as e:
    print(e)

In [15]:
try:
    df1.to_csv(os.path.join(path, 'house_prices_records.csv'), index=False)
except Exception as e:
    print(e)

In [17]:
try:
    df2.to_csv(os.path.join(path, 'inherited_houses.csv'), index=False)
except Exception as e:
    print(e)

---

# Push files to Repo

Clear outputs and push files to repo

---

# Conclusion

In this notebook, environment was successfully set up, data was fetched from Kaggle, and initial data inspection was performed.

#### Next Steps:
* Data visualization and cleaning